/* update.css */

.container {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.app-form, .results-section {
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.fileInput, .AggrNumber {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.aggrNumberLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-primary, .btn-back, .btn-secondary {
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #28a745;
  color: white;
}

.btn-back {
  background-color: #a04040;
  color: white;
}

/* Results Table */
.results-section {
  margin-top: 30px;
}

.results-tables {
  width: 100%;
  border-collapse: collapse;
  background-color: #e8f0fe;
  border-radius: 6px;
  overflow: hidden;
}

.results-tables th,
.results-tables td {
  padding: 12px 10px;
  text-align: left;
  border: 1px solid #cfd8dc;
}


.results-tables th {
  background-color: rgb(41, 98, 255, 0.75);
  color: white;
}
.results-tables td {
  background-color: rgb(227, 242, 253, 1);
  font-size: 14px;
}



.Completed {
  color: green;
  font-weight: bold;
}

.Error {
  color: red;
  font-weight: bold;
}

.adjust {
  text-align: center;
}

.results {
  margin-top: 0;
  font-size: 1.5rem;
}

.error-message {
  margin-top: 1rem;
  color: red;
  text-align: center;
  font-weight: bold;
}